.game {
  flex: 1;
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: column;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2.5rem;
  text-shadow: -0.125em -0.125rem 0.25rem #000;
  height: 100%;
}

.game-info {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    /* margin: 0 auto; */
}

.game-info > p {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}